<h2>Employees</h2>
<ul>
  <li 
    class="employee"
    *ngFor="let employee of employees"
  >
    <button
      type="button"
      (click)="onSelect(employee)"
      [class.selected]="employee === selectedEmployee"
    >
      <span>{{employee.id}}.</span> {{employee.firstname}}
    </button>
  </li>
</ul>


<div *ngIf="selectedEmployee">
  <h2>{{selectedEmployee.firstname}}'s details</h2>
  <div><span>id: </span> {{selectedEmployee.id}}</div>
  <div>
    <label>Employee firstname
      <input id="employee-firstname"
        [(ngModel)]="selectedEmployee.firstname"
        placeholder="firstname"
      >
    </label>
  </div>
</div>
