#container {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
#new-employee {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
}
h3 {
    font-size: 120%;
    text-align: center;
}
li.employee {
    list-style: none;
    max-width: 10rem;
    font-size: 1.3rem;
    padding: .5rem;
    height: 2rem;
    margin: .4rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

li.employee:hover {
    background: #AAA;
}

li.employee span {
    color: black;
    padding: 0 .5rem
}

li.employee span:first-child {
    background-color: #44A;
    color: white;
}

li.employee a {
    width: 100%;
    text-align: start;
    text-decoration: none;
    border: 1px #333 solid;
    border-radius: 5px;
}

button.selected {
    background: #99F;
}

