<h2>Employees</h2>

<!-- START New employee form --> 
<form id="new-employee">
  <h3>Add an employee</h3>
    <label>Firstname
      <input
        [formControl]="firstNameControl"
        placeholder="John"
        required
      />
    </label>
    <label>Lastname
      <input
        [formControl]="lastNameControl"
        placeholder="Doe"
        required
      />
    </label>
    <label>Birth date
      <input
        [formControl]="birthDateControl"
        type="date"
        required
      />
    </label>
    <label>Phone number
      <input
        type="phone"
        [formControl]="phoneNumberControl"
        placeholder="06 12 34 56 78"
        required
      />
    </label>
    <label>Personal e-mail
      <input
        [formControl]="personalMailControl"
        placeholder="john.doe@mail.co"
        type="email"
        required
      />
    </label>
    <label>Professional e-mail
      <input
        [formControl]="professionalMailControl"
        type="email"
        placeholder="john.doe@colabz.org"
        required
      />
    </label>

  <button type="submit" class="add-button"
    (click)="add()">
    Add employee
  </button>
</form>
<!-- END New employee form --> 

<div id="container">
  <ul>
    <li class="employee" *ngFor="let employee of employees">
      <a routerLink="/detail/{{employee.id}}">
        <span>{{employee.id}}.</span>
        <span>{{employee.firstname}}</span>
      </a>
      <button type="button" class="delete" title="delete" (click)="delete(employee)">x</button>
    </li>
  </ul>
</div>
