/* Application-wide Styles */
h1 {
  color: #555;
  font-family: 'Smooch Sans', sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #555;
  font-family: 'Smooch Sans', sans-serif;
  font-size: 200%;
}
body {
  margin: 2em;
}
body, input[type="text"], button {
  color: #333;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}
/* everywhere else */
* {
  font-family: 'Lato', sans-serif;
}
